// Physical constraints for Sipeed Tang Primer 20K
// Mapped EPD to PMOD1, PMOD2, and PMOD3

IO_LOC "CLK_IN" H11;
IO_PORT "CLK_IN" IO_TYPE=LVCMOS33;

IO_LOC "LED" L16;
IO_PORT "LED" IO_TYPE=LVCMOS33;

// DDR3
IO_LOC "DDR_DQ[0]" G5;
IO_PORT "DDR_DQ[0]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "DDR_DQ[1]" F5;
IO_PORT "DDR_DQ[1]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "DDR_DQ[2]" F4;
IO_PORT "DDR_DQ[2]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "DDR_DQ[3]" F3;
IO_PORT "DDR_DQ[3]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "DDR_DQ[4]" E2;
IO_PORT "DDR_DQ[4]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "DDR_DQ[5]" C1;
IO_PORT "DDR_DQ[5]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "DDR_DQ[6]" E1;
IO_PORT "DDR_DQ[6]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "DDR_DQ[7]" B3;
IO_PORT "DDR_DQ[7]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "DDR_DQ[8]" M3;
IO_PORT "DDR_DQ[8]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "DDR_DQ[9]" K4;
IO_PORT "DDR_DQ[9]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "DDR_DQ[10]" N2;
IO_PORT "DDR_DQ[10]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "DDR_DQ[11]" L1;
IO_PORT "DDR_DQ[11]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "DDR_DQ[12]" P4;
IO_PORT "DDR_DQ[12]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "DDR_DQ[13]" H3;
IO_PORT "DDR_DQ[13]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "DDR_DQ[14]" R1;
IO_PORT "DDR_DQ[14]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "DDR_DQ[15]" M2;
IO_PORT "DDR_DQ[15]" IO_TYPE=SSTL15 VREF=INTERNAL;

IO_LOC "DDR_A[0]" F7;
IO_PORT "DDR_A[0]" IO_TYPE=SSTL15;
IO_LOC "DDR_A[1]" A4;
IO_PORT "DDR_A[1]" IO_TYPE=SSTL15;
IO_LOC "DDR_A[2]" D6;
IO_PORT "DDR_A[2]" IO_TYPE=SSTL15;
IO_LOC "DDR_A[3]" F8;
IO_PORT "DDR_A[3]" IO_TYPE=SSTL15;
IO_LOC "DDR_A[4]" C4;
IO_PORT "DDR_A[4]" IO_TYPE=SSTL15;
IO_LOC "DDR_A[5]" E6;
IO_PORT "DDR_A[5]" IO_TYPE=SSTL15;
IO_LOC "DDR_A[6]" B1;
IO_PORT "DDR_A[6]" IO_TYPE=SSTL15;
IO_LOC "DDR_A[7]" D8;
IO_PORT "DDR_A[7]" IO_TYPE=SSTL15;
IO_LOC "DDR_A[8]" A5;
IO_PORT "DDR_A[8]" IO_TYPE=SSTL15;
IO_LOC "DDR_A[9]" F9;
IO_PORT "DDR_A[9]" IO_TYPE=SSTL15;
IO_LOC "DDR_A[10]" K3;
IO_PORT "DDR_A[10]" IO_TYPE=SSTL15;
IO_LOC "DDR_A[11]" B7;
IO_PORT "DDR_A[11]" IO_TYPE=SSTL15;
IO_LOC "DDR_A[12]" A3;
IO_PORT "DDR_A[12]" IO_TYPE=SSTL15;

IO_LOC "DDR_BA[0]" H4;
IO_PORT "DDR_BA[0]" IO_TYPE=SSTL15;
IO_LOC "DDR_BA[1]" D3;
IO_PORT "DDR_BA[1]" IO_TYPE=SSTL15;
IO_LOC "DDR_BA[2]" H5;
IO_PORT "DDR_BA[2]" IO_TYPE=SSTL15;

IO_LOC "DDR_RAS_N" R4;
IO_PORT "DDR_RAS_N" IO_TYPE=SSTL15;
IO_LOC "DDR_CAS_N" R6;
IO_PORT "DDR_CAS_N" IO_TYPE=SSTL15;
IO_LOC "DDR_WE_N" L2;
IO_PORT "DDR_WE_N" IO_TYPE=SSTL15;
IO_LOC "DDR_ODT" R3;
IO_PORT "DDR_ODT" IO_TYPE=SSTL15;
IO_LOC "DDR_RESET_N" B9;
IO_PORT "DDR_RESET_N" IO_TYPE=SSTL15;
IO_LOC "DDR_CKE" J2;
IO_PORT "DDR_CKE" IO_TYPE=SSTL15;
IO_LOC "DDR_LDM" G1;
IO_PORT "DDR_LDM" IO_TYPE=SSTL15;
IO_LOC "DDR_UDM" K5;
IO_PORT "DDR_UDM" IO_TYPE=SSTL15;

IO_LOC "DDR_UDQS_P" J5;
IO_PORT "DDR_UDQS_P" IO_TYPE=SSTL15;
IO_LOC "DDR_UDQS_N" K6;
IO_PORT "DDR_UDQS_N" IO_TYPE=SSTL15;
IO_LOC "DDR_LDQS_P" G2;
IO_PORT "DDR_LDQS_P" IO_TYPE=SSTL15;
IO_LOC "DDR_LDQS_N" G3;
IO_PORT "DDR_LDQS_N" IO_TYPE=SSTL15;
IO_LOC "DDR_CK_P" J1;
IO_PORT "DDR_CK_P" IO_TYPE=SSTL15;
IO_LOC "DDR_CK_N" J3;
IO_PORT "DDR_CK_N" IO_TYPE=SSTL15;

IO_LOC "DDR_RZQ" P5;
IO_PORT "DDR_RZQ" IO_TYPE=SSTL15;
IO_LOC "DDR_ZIO" C8;
IO_PORT "DDR_ZIO" IO_TYPE=SSTL15;

// EPD (PMOD1, PMOD2, PMOD3)
IO_LOC "EPD_GDOE" B14;
IO_PORT "EPD_GDOE" IO_TYPE=LVCMOS33;
IO_LOC "EPD_GDCLK" A15;
IO_PORT "EPD_GDCLK" IO_TYPE=LVCMOS33;
IO_LOC "EPD_GDSP" D14;
IO_PORT "EPD_GDSP" IO_TYPE=LVCMOS33;
IO_LOC "EPD_SDCLK" E15;
IO_PORT "EPD_SDCLK" IO_TYPE=LVCMOS33;
IO_LOC "EPD_SDLE" L9;
IO_PORT "EPD_SDLE" IO_TYPE=LVCMOS33;
IO_LOC "EPD_SDOE" N8;
IO_PORT "EPD_SDOE" IO_TYPE=LVCMOS33;
IO_LOC "EPD_SDCE0" N9;
IO_PORT "EPD_SDCE0" IO_TYPE=LVCMOS33;

IO_LOC "EPD_SD[0]" T12;
IO_PORT "EPD_SD[0]" IO_TYPE=LVCMOS33;
IO_LOC "EPD_SD[1]" T11;
IO_PORT "EPD_SD[1]" IO_TYPE=LVCMOS33;
IO_LOC "EPD_SD[2]" P11;
IO_PORT "EPD_SD[2]" IO_TYPE=LVCMOS33;
IO_LOC "EPD_SD[3]" R11;
IO_PORT "EPD_SD[3]" IO_TYPE=LVCMOS33;
IO_LOC "EPD_SD[4]" M15;
IO_PORT "EPD_SD[4]" IO_TYPE=LVCMOS33;
IO_LOC "EPD_SD[5]" M14;
IO_PORT "EPD_SD[5]" IO_TYPE=LVCMOS33;
IO_LOC "EPD_SD[6]" J16;
IO_PORT "EPD_SD[6]" IO_TYPE=LVCMOS33;
IO_LOC "EPD_SD[7]" J14;
IO_PORT "EPD_SD[7]" IO_TYPE=LVCMOS33;
IO_LOC "EPD_SD[8]" F14;
IO_PORT "EPD_SD[8]" IO_TYPE=LVCMOS33;
IO_LOC "EPD_SD[9]" F16;
IO_PORT "EPD_SD[9]" IO_TYPE=LVCMOS33;
IO_LOC "EPD_SD[10]" G15;
IO_PORT "EPD_SD[10]" IO_TYPE=LVCMOS33;
IO_LOC "EPD_SD[11]" G14;
IO_PORT "EPD_SD[11]" IO_TYPE=LVCMOS33;
IO_LOC "EPD_SD[12]" F13;
IO_PORT "EPD_SD[12]" IO_TYPE=LVCMOS33;
IO_LOC "EPD_SD[13]" G12;
IO_PORT "EPD_SD[13]" IO_TYPE=LVCMOS33;
IO_LOC "EPD_SD[14]" L13;
IO_PORT "EPD_SD[14]" IO_TYPE=LVCMOS33;
IO_LOC "EPD_SD[15]" C10;
IO_PORT "EPD_SD[15]" IO_TYPE=LVCMOS33;

// SPI (PMOD4)
IO_LOC "SPI_CS" N6;
IO_PORT "SPI_CS" IO_TYPE=LVCMOS33;
IO_LOC "SPI_SCK" D11;
IO_PORT "SPI_SCK" IO_TYPE=LVCMOS33;
IO_LOC "SPI_MOSI" A11;
IO_PORT "SPI_MOSI" IO_TYPE=LVCMOS33;
IO_LOC "SPI_MISO" B11;
IO_PORT "SPI_MISO" IO_TYPE=LVCMOS33;

// PMIC (PMOD2 Row 3 and 4)
IO_LOC "PMIC_SCL" D10;
IO_PORT "PMIC_SCL" IO_TYPE=LVCMOS33 PULL_UP=on;
IO_LOC "PMIC_SDA" B12;
IO_PORT "PMIC_SDA" IO_TYPE=LVCMOS33 PULL_UP=on;
IO_LOC "PMIC_WAKEUP" A14;
IO_PORT "PMIC_WAKEUP" IO_TYPE=LVCMOS33;
IO_LOC "PMIC_PWRUP" B13;
IO_PORT "PMIC_PWRUP" IO_TYPE=LVCMOS33;


// HDMI RX Input
IO_LOC "HDMI_RXC_P" G16;
IO_PORT "HDMI_RXC_P" IO_TYPE=LVDS25;
IO_LOC "HDMI_RXC_N" H15;
IO_PORT "HDMI_RXC_N" IO_TYPE=LVDS25;
IO_LOC "HDMI_RX_P[0]" H14;
IO_PORT "HDMI_RX_P[0]" IO_TYPE=LVDS25;
IO_LOC "HDMI_RX_N[0]" H16;
IO_PORT "HDMI_RX_N[0]" IO_TYPE=LVDS25;
IO_LOC "HDMI_RX_P[1]" J15;
IO_PORT "HDMI_RX_P[1]" IO_TYPE=LVDS25;
IO_LOC "HDMI_RX_N[1]" K16;
IO_PORT "HDMI_RX_N[1]" IO_TYPE=LVDS25;
IO_LOC "HDMI_RX_P[2]" K14;
IO_PORT "HDMI_RX_P[2]" IO_TYPE=LVDS25;
IO_LOC "HDMI_RX_N[2]" K15;
IO_PORT "HDMI_RX_N[2]" IO_TYPE=LVDS25;
